@import url('https://fonts.googleapis.com/css2?family=Kay+Pho+Du:wght@400;500;600;700&display=swap');

body{
    background-image: url('../../assets/images/Cooking Background Image.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.card {
    margin-left: 60vh;
    margin-right: 60vh;
    margin-top: 10vh;
    padding: 20px;
}

.logo {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 50px auto 40px auto;
}

p {
    text-align: center;
    font-family: "Kay Pho Du", serif;
}

.loginHeader{
    text-align: center;
    font-family: "Kay Pho Du", serif;
    font-size: 24px;
    margin-bottom: 4vh;
}

form button {
    width: 100%;
    padding: 2vh !important;
    background-color: #E9631A !important;
    border: none !important;
}

.error{
    color: red;
    visibility: hidden;
}

form button:hover {
    background-color: #AF5829 !important;
}

#inputPassword {
    margin-top: 2vh;
    padding: 2vh !important;
}

#inputEmail {
    padding: 2vh !important;
}

.or{
    margin-top: 3vh;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 3vh 0;
}

.or::before, .or::after {
    content: "";
    flex: 1;
    border-top: 1px solid #000;
    margin: 0 10px;
}

.signUp{
    margin-bottom: 10vh;
}

.signUpLink{
    color: #E9631A;
    font-weight: bold;
}

.signUpLink:hover{
    color: #AF5829 !important;
}

.backToLogin{
    color: #E9631A !important;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.overlay-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
  
.overlay-form h2 {
    margin-bottom: 20px;
}
  
.overlay-form button {
    margin-top: 10px;
}
